    <footer class="footer bg-dark footer__margin">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-2">
            <a href="{{ site.public-url }}" class="footer-link">
              <h5 class="typography__footer-heading">{{ site.public-url | replace: "https://", "" | replace: "http://", "" }}</h5>
            </a>
            <p class="text-white">&copy; <span id="currentYear">2018</span> Wesley Zajicek</p>
          </div>
        </div>
      </div>
    </footer>