{% comment %}
<header class="header parallax">
  <div class="parallax__layer parallax__layer--back">
    <div class="header__bg"></div>
  </div>
  <div class="parallax__layer parallax__layer--base d-flex">
    {% include svg/wesleyzajicek.html %}
  </div>
</header>
{% endcomment %}
<header class="parallax">
  <div class="parallax__layer parallax__layer--back header__bg">
  </div>
  <div class="parallax__layer parallax__layer--base">
    <div class="container">
      {% include svg/wesleyzajicek.html %}
    </div>
  </div>
</header>