// Footer Styles

.footer__margin {
  margin-top: 20px;
}


.footer {
  margin-top: 60px;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 100%;
}

// Footer's "athletics.kcc.edu link"
.footer-link {
  color: #98c3ec;
  &:hover {
    text-decoration: none !important;
    color: $white;
  }
}

.footer-heading {
  transition-property: color;
  transition-timing-function: ease;
  transition-duration: .3s;
}

