html,
body {
  overflow-x: hidden;
}

h2.typography__h2 {
  color: #666;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

h3.typography__h3 {
  color: #0f3b63;
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
}

h4.typography__h4 {
  color: #c61f48;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
}

h5.typography__h5 {
  color: #666;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

h6.typography__h6 {
  color: #666;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
}

img.float-image-left {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

@media screen and (min-width: 768px) {
  img.float-image-left {
    float: left;
  }
}

img.float-image-right {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

@media screen and (min-width: 768px) {
  img.float-image-right {
    float: right;
  }
}

img.no-float {
  float: none;
}

img.center-image {
  height: auto;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 100%;
  text-align: center;
}

p.text-left {
  text-align: left;
}

p.text-right {
  text-align: right;
}

p.text-center {
  text-align: center;
}
